<div class="phone-details-view">

    <div data-dojo-attach-point="phoneMainImg" class="phone-images"></div>

    <h1 class="phone-name"></h1>

    <p class="phone-description"></p>
    <ul class="phone-thumbs" data-dojo-attach-point="phoneThumbs"></ul>
    <ul class="specs">
        <li>
            <span>Availability and Networks</span>
            <dl>
                Availability
                <dt data-dojo-attach-point="phoneAvailability"></dt>
            </dl>
        </li>
        <li>
            <span>Battery</span>
            <dl>
                <dt>Type</dt>
                <dd id="phone-battery-type"></dd>
                <dt>Talk Time</dt>
                <dd id="phone-battery-talkTime"></dd>
                <dt>Standby time (max)</dt>
                <dd id="phone-battery-standbyTime"></dd>
            </dl>
        </li>
        <li>
            <span>Storage and Memory</span>
            <dl>
                <dt>RAM</dt>
                <dd id="phone-storage-ram"></dd>
                <dt>Internal Storage</dt>
                <dd id="phone-storage-flash"></dd>
            </dl>
        </li>
        <li>
            <span>Connectivity</span>
            <dl>
                <dt>Network Support</dt>
                <dd id="phone-connectivity-cell"></dd>
                <dt>WiFi</dt>
                <dd id="phone-connectivity-wifi"></dd>
                <dt>Bluetooth</dt>
                <dd id="phone-connectivity-bluetooth"></dd>
                <dt>Infrared</dt>
                <dd id="phone-connectivity-infrared"></dd>
                <dt>GPS</dt>
                <dd id="phone-connectivity-gps"></dd>
            </dl>
        </li>
        <li>
            <span>Android</span>
            <dl>
                <dt>OS Version</dt>
                <dd id="phone-android-os"></dd>
                <dt>UI</dt>
                <dd id="phone-android-ui"></dd>
            </dl>
        </li>
        <li>
            <span>Size and Weight</span>
            <dl>
                <dt>Dimensions</dt>
                <div data-dojo-attach-point="phoneDimensions">

                </div>
                <dt>Weight</dt>
                <dd id="phone-sizeAndWeight-weight"></dd>
            </dl>
        </li>
        <li>
            <span>Display</span>
            <dl>
                <dt>Screen size</dt>
                <dd id="phone-display-screenSize"></dd>
                <dt>Screen resolution</dt>
                <dd id="phone-display-screenResolution"></dd>
                <dt>Touch screen</dt>
                <dd id="phone-display-touchScreen"></dd>
            </dl>
        </li>
        <li>
            <span>Hardware</span>
            <dl>
                <dt>CPU</dt>
                <dd id="phone-hardware-cpu"></dd>
                <dt>USB</dt>
                <dd id="phone-hardware-usb"></dd>
                <dt>Audio / headphone jack</dt>
                <dd id="phone-hardware-audioJack"></dd>
                <dt>FM Radio</dt>
                <dd id="phone-hardware-fmRadio"></dd>
                <dt>Accelerometer</dt>
                <dd id="phone-hardware-accelerometer"></dd>
            </dl>
        </li>
        <li>
            <span>Camera</span>
            <dl>
                <dt>Primary</dt>
                <dd id="phone-camera-primary"></dd>
                <dt>Features</dt>
                <dd id="phone-camera-features"></dd>
            </dl>
        </li>
        <li>
            <span>Additional Features</span>
            <dd id="phone-additionalFeatures"></dd>
        </li>
    </ul>
</div>